


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-0 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">User List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-1 ">
        
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                   
                    <th>
                       Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Role
                    </th>
                    
                </tr>

            </thead>


        </table>
    </div>
</div>
@section scripts {
    <script src="~/js/User.js"></script>
}

@*<tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Title
                </td>
                <td>
                    @obj.ISBN
                </td>
                <td>
                    @obj.ListPrice
                </td>
                <td>
                    @obj.Author
                </td>
                <td>
                    @obj.categoryModel.CategoryName
                </td>

                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.ProductId " class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ProductId " class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }

    </tbody>*@